{% extends "index.html" %}
{% block content %}
<div class="zc-formcontainer" style="width: auto;">
<div class="zc-formheader">
<span elname="zc-formNameEl"><label class="zc-formtitle">Tervetuloa Dateventures-deittisivustolle!</label></span>
<p>Dateventures on uudenlainen deittisivusto. Täällä et kahlaa läpi satoja enemmän tai vähemmän totuudenmukaisia profiileja vaan menet suoraan asiaan. <a href="showilmoitus_View">Selaa ilmoituksia</a> -sivulla näet listan muiden käyttäjien jättämistä treffi-ilmoituksista. Klikkaat vain Vastaa ja kerrot lyhyesti mistä sinut tunnistaa. Näin helposti olet sopinut treffit!</p>

<p>Dateventures on tällähetkellä testivaiheessa. Sivusto toimii, treffi-ilmoituksia voi jättää ja niihin voi vastata, mutta satunnaisia ongelmia saattaa esiintyä. Emme ota vastuuta mistään. Olisimme kuitenkin kiitollisia jos ilmoitat löytämistäsi ongelmista tai puutteista <a href="palaute">palautesivun</a> kautta. Kaikenlaiset kehitysehdotukset ovat myös tervetulleita.</p>

<p>Palvelun käyttö edellyttää Google-tunnuksia. Jos käytössäsi on esimerksi Gmail tai Google Calendar, niin sinulla on jo nämä tunnukset ja voit kirjautua niillä sisään palveluun.</p>

<p>Dateventures on suunnattu ainoastaan täysi-ikäisille. Alle 18-vuotiaat eivät voi jättää deitti-ilmoituksia</p>
</div>
<div class="zc-formcontent zc-appformcontent">
<form name="sortetusivu" id="sortetusivu" method="post" action="sortetusivu">
<input type="hidden" name="SortBy" id="SortBy">
<input type="hidden" name="order" id="order">
</form>
<!--<form name="searchetusivu" id="searchetusivu" action="searchetusivu" method="post">
<table class="zc-formtable zc-appformtable" border="0" cellspacing="0">
<tbody>
<thead>
<tr class="zc-viewrowheader" height="25">
<td id="Olen" fieldValue="Olen" onClick="sort(this.id)" align="center"><b>Olen</b>&nbsp;&nbsp;<label>&#9660;</label></td>
<td id="Paikka" fieldValue="Paikka" onClick="sort(this.id)" align="center"><b>Paikka</b>&nbsp;&nbsp;<label>&#9660;</label></td>
<td id="P_iv_m_r_Aika" fieldValue="P_iv_m_r_Aika" onClick="sort(this.id)" align="center"><b>Päivämäärä & Aika</b>&nbsp;&nbsp;<label>&#9660;</label></td>
<td id="Kuvaus" fieldValue="Kuvaus" onClick="sort(this.id)" align="center"><b>Kuvaus</b>&nbsp;&nbsp;<label>&#9660;</label></td>
</tr>
<tr id="searchRow" style="display:none;" class="zc-searchrow">
<td align="center">
<input id="Olen" name="Olen" type="text" value="">
</td><td align="center">
<input id="Paikka" name="Paikka" type="text" value="">
</td><td align="center">
<input id="P_iv_m_r_Aika" name="P_iv_m_r_Aika" type="text" value="">
</td><td align="center">
<input id="Kuvaus" name="Kuvaus" type="text" value="">
</td></tr>
<tr id="searchButtonRow" style="display:none;"  class="zc-searchbuttonrow">
<td></td>
<td></td>
<td></td>



<td align="center">
<input class="zc-view-button" type="button" onClick="searchRec()" onmouseout="this.className='zc-view-button';" onmouseover="this.className='zc-view-button-hover';" value="Search"/>
<input class="zc-view-button" type="button" onClick="cancelSearch()" onmouseout="this.className='zc-view-button';" onmouseover="this.className='zc-view-button-hover';" value="Cancel"/>
</td>
<td></td>
<td></td>
<td></td>
</tr>
<script type="text/javascript">
function sort(elem)
{
        var el = document.getElementById(elem);
        var xe = parseInt(findPosX(el));
        var corr = 0;
        var ye = parseInt(findPosY(el) + el.offsetHeight - corr);
        document.getElementById("sortDiv").style.left = xe+"px" ;
        document.getElementById("sortDiv").style.top = ye+"px" ;
        document.getElementById("sortDiv").style.display="";
        var fieldName = document.getElementById(elem);
        var val = fieldName.getAttribute("fieldValue");
        document.getElementById("SortBy").value=val;
}
function selectSortOrder(element)
{
        var fieldName = document.getElementById(element);
        var val = fieldName.getAttribute("sortingOrder");
        document.getElementById("order").value=val;
        document.sortetusivu.submit();
}
function search()
{
        document.getElementById("sortDiv").style.display="none";
        document.getElementById("searchRow").style.display="";
        document.getElementById("searchButtonRow").style.display="";
}
function searchRec()
{
    document.searchetusivu.submit();
}
function cancelSearch()
{
        document.getElementById("searchRow").style.display="none";
        document.getElementById("searchButtonRow").style.display="none";
}

</script>
{% for x in records %}
<tr class="zc-viewrow zc-row-1">
<td align="center"> {{ x.Olen }} </td>
<td align="center"> {{x.Paikka }}</td>
<td align="center"> {{x.P_iv_m_r_Aika }}</td>
<td align="center"> {{x.Kuvaus }}</td>
</tr>

{% endfor %}
</thead>
</tbody>
</table>
</div>

</div><div id="sortDiv" style="position:absolute;display:none;">
	<table class="zc-viewoptionsdivtable" cellpadding="0" cellspacing="0" border="0">
		<tr class="zc-viewoptionsdivtr" onmouseover="this.className='zc-viewoptionsdivtrhover'" onmouseout="this.className='zc-viewoptionsdivtr'">
			<td>
				<table id="zc-sortSubMenu" cellpadding="0" cellspacing="0" border="0" class="zc-viewoptionsdivtable">
						<tr class="zc-viewoptionsdivtr" onmouseover="this.className='zc-viewoptionsdivtrhover'" onmouseout="this.className='zc-viewoptionsdivtr'"><td id="Ascending"  onClick="selectSortOrder(this.id)" sortingOrder="ASC" class="zc-viewmenu">Sort By Asc</td></tr>
						<tr class="zc-viewoptionsdivtr" onmouseover="this.className='zc-viewoptionsdivtrhover'" onmouseout="this.className='zc-viewoptionsdivtr'"><td id="Descending"  onClick="selectSortOrder(this.id)" sortingOrder="DESC" class="zc-viewmenu">Sort By Desc</td></tr>
						<tr class="zc-viewoptionsdivtr" onmouseover="this.className='zc-viewoptionsdivtrhover'" onmouseout="this.className='zc-viewoptionsdivtr'"><td id="searchRec"  onClick="search()" class="zc-viewmenu">Search</td></tr>
				</table>
			</td>
		</tr>

	</table>

</div>
</form>!-->
{% endblock %}
