{% extends "index.html" %}
{% block content %}

<div class="zc-formcontainer" style="width: auto;">
<div class="zc-formheader">
<span elname="zc-formNameEl"><label class="zc-formtitle">Dateventures-ilmoitukset</label></span>
</div>
<div class="zc-formcontent zc-appformcontent">

<form name="searchilmoitus_View" id="searchilmoitus_View" action="searchilmoitus_View" method="post">
<table class="zc-formtable zc-appformtable" border="0" cellspacing="0">
<tbody>
<thead>
<tr class="zc-viewrowheader" height="25">
<td id="Ilmoittaja" align="center"><b>Ilmoittaja</b></td>
<td id="Ilmoittaja" align="center"><b>Ikä</b></td>
<td id="Etsii"  align="center"><b>Etsii</b></td>
<td id="Datetime"  align="center"><b>Päivämäärä & Aika</b></td>
<td id="Paikka"  align="center"><b>Paikka</b></td>
<td id="Kuvaus"  align="center"><b>Kuvaus</b></td>
<td align="center"></td>
</tr>
<tr id="searchRow" style="display:none;" class="zc-searchrow">
<td align="center">
<input id="Olen" name="Olen" type="text" value="">
</td><td align="center">
<input id="Paikka" name="Paikka" type="text" value="">
</td><td align="center">
<input id="Datetime" name="Datetime" type="text" value="">
</td><td align="center">
<input id="Kuvaus" name="Kuvaus" type="text" value="">
</td></tr>
<tr id="searchButtonRow" style="display:none;"  class="zc-searchbuttonrow">
<td></td>
<td></td>
<td></td>



<td align="center">
<input class="zc-view-button" type="button" onClick="searchRec()" onmouseout="this.className='zc-view-button';" onmouseover="this.className='zc-view-button-hover';" value="Search"/>
<input class="zc-view-button" type="button" onClick="cancelSearch()" onmouseout="this.className='zc-view-button';" onmouseover="this.className='zc-view-button-hover';" value="Cancel"/>
</td>
<td></td>
<td></td>
<td></td>
</tr>
<script type="text/javascript">



function post(key) {

    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "confirm");

    var hiddenField = document.createElement("input");
    hiddenField.setAttribute("type", "hidden");
    hiddenField.setAttribute("name", "key");
    hiddenField.setAttribute("value", key);
    form.appendChild(hiddenField);

    document.body.appendChild(form);    
    form.submit();
}

 
</script>
{% for x in records %}
<tr class="zc-viewrow zc-row-1" {% if x.Vastattu %}style=" color: grey"{% else %}style="background-color: #D3FFC4;"{% endif %} >
<td align="center"> {{ x.Olen }} </td>
<td align="center"> {{ x.Age }} </td>
<td align="center"> {{ x.Etsin }} </td>
<td align="center"> {{x.Datetime }}</td>
<td align="center"> {{x.Paikka }}</td>
<td align="center"> {{x.Kuvaus }}</td>
<td align="center"> {% if not x.Vastattu %}<a href="#" onClick="post('{{x.key}}')" class="zc-formbutton"> Vastaa </a>{% else %}<i>Kumppani löytynyt</i>{% endif %} </td>
</tr>

{% endfor %}
</thead>
</tbody>
</table>
</div>

</div>

</form>
{% endblock %}
