{% extends "index.html" %}
{% block content %}
<script type="text/javascript">
function validateaddilmoitus()
{
    if(validateFormFields($("#addilmoitus")) & (Age.value >= 18))
    {
        document.addilmoitus.submit();
    }
}
</script>
<!--<div class="zc-formcontainer" style="width: auto;">
<div class="zc-formheader"><span elname="zc-formNameEl"><label class="zc-formtitle">ilmoitus</label></span></div>
<div class="zc-formcontent zc-appformcontent"><!-->

<p style="text-align:left;">Jätä ilmoituksesi allaolevalla lomakkeella. Paikka-kohtaan voit kirjoittaa esimerkiksi kahvilan nimen tai osoitteen. Kuvaus-kohtaan kirjoita lyhyesti, mistä sinut tunnistaa ("Minulla on punainen rusetti").</p>

<form method="post" id="addilmoitus" name="addilmoitus" action="addilmoitus" enctype="multipart/form-data">
<table>
<tbody>
<tr>
<td class="zc-labelheader" style="width: auto;"><label>Olen<font color="#ec3e3e">*</font></label></td>
<td><select name="Olen">
{% for x in Olen %}
<option value='{{x}}'>{{x}}</option>
{% endfor %}
</select>
</td>
</tr>

<tr>
<td class="zc-labelheader" style="width: auto;"><label>Etsin<font color="#ec3e3e">*</font></label></td>
<td><select name="Etsin">
<option value="Miestä">Miestä</option>
<option value="Naista">Naista</option>
<option value="Ei väliä">Ei väliä</option>
</select>
</td>
</tr>

<tr>
<td class="zc-labelheader" style="width: auto;"><label>Ikäni<font color="#ec3e3e">*</font></label></td>
<td><input class="zc-inputtext" id="Age" name="Age" value="" datatype="age" type="integer" mandatory="true" maxlength="2">
<p id="Age_Error"></p></td>
</tr>

<tr>
<td class="zc-labelheader" style="width: auto;"><label>Paikkakunta<font color="#ec3e3e">*</font></label></td>
<td><input class="zc-inputtext" style="background:gray" id="Paikkakunta" name="Paikkakunta" value="Turku" type="text" mandatory="true" readonly="readonly"><p id="Paikka_Error"></p></td>
</tr>

<tr>
<td class="zc-labelheader" style="width: auto;"><label>Paikka<font color="#ec3e3e">*</font></label></td>
<td><input class="zc-inputtext" id="Paikka" name="Paikka" value="" type="text" mandatory="true"><p id="Paikka_Error"></p></td>
</tr>

<tr>
<td class="zc-labelheader" style="width: auto;"><label>Kello<font color="#ec3e3e">*</font></label></td>
<td><input maxlength="2" size="2" id="Hour" datatype="hour" name="Hour" value="" type="text" mandatory="true">:<input maxlength="2" size="2" datatype="min" id="Min" name="Min" value="" type="text" mandatory="true"><p id="Min_Error"></p></td>
</tr>

<tr>
<td class="zc-labelheader" style="width: auto;"><label>Päivä<font color="#ec3e3e">*</font></label></td>
<td><input class="zc-inputtext" type="text" class="zc-inputtext" readonly="readonly" value="" id="Date" name="Date">&nbsp;&nbsp;<a href="javascript:void(0);"><img id="IMG_Date" width="16" height="17" border="0" src="/images/date_icon.gif" name="Img_Date"></a>
<script type="text/javascript">Calendar.setup({
inputField     :    "Date",
ifFormat     :    "%d.%m.%Y",
showsTime   : false,
button     :    "IMG_Date"
});
</script></tr>
<tr>
<td class="zc-labelheader" style="width: auto;"><label>Kuvaus<font color="#ec3e3e">*</font></label></td>
<td><input class="zc-inputtext" id="Kuvaus" name="Kuvaus" maxlength="50" value="" type="text" mandatory="true">
<p id="Kuvaus_Error"></p></td>
</tr>


<tr>
<td class="zc-button-row" style="border:medium none;"/>
<td class="zc-button-row" style="border:medium none; text-align:left;" >
<input type="button" class="zc-formbutton"value="Lähetä" onClick="validateaddilmoitus()">
<input class="zc-formbutton" type="reset" value="Tyhjennä"/>
</td>
</tr>
</tbody>
</table>
</form>
<!--</div>
</div>!-->
{% endblock %}
