{% extends "index.html" %}
{% block content %}
<script type="text/javascript">
function validateaddilmoitus()
{
    if(validateFormFields($("#addilmoitus")) && (Age.value >= 18))
    {
        document.addilmoitus.submit();
    }
}
</script>
<!--<div class="zc-formcontainer" style="width: auto;">
<div class="zc-formheader"><span elname="zc-formNameEl"><label class="zc-formtitle">ilmoitus</label></span></div>
<div class="zc-formcontent zc-appformcontent"><!-->
<form method="post" id="addilmoitus" name="addilmoitus" action="addilmoitus" enctype="multipart/form-data">
<table>
<tbody>
<tr>
<td><label>Olen*</label></td>
<td><select name="Olen">
{% for x in Olen %}
<option value='{{x}}'>{{x}}</option>
{% endfor %}
</select>
</td>
</tr>
<tr>
<td><label>Paikka*</font></label></td>
<td><input id="Paikka" name="Paikka" value="" type="text" mandatory="true"><p id="Paikka_Error"></p></td>
</tr>
<tr>
<td><label>Päivämäärä & Aika *</label></td>
<td><input type="text" class="zc-inputtext" value="" id="P_iv_m_r_Aika" name="P_iv_m_r_Aika">&nbsp;&nbsp;<a href="javascript:void(0);"><img id="IMG_P_iv_m_r_Aika" width="16" height="17" border="0" src="/images/date_icon.gif" name="Img_P_iv_m_r_Aika"></a>
<script type="text/javascript">Calendar.setup({
inputField     :    "P_iv_m_r_Aika",
ifFormat     :    "%d %m %y %H:%M",
showsTime   : false,
button     :    "IMG_P_iv_m_r_Aika"
});
</script></tr>
<tr>
<td class="zc-labelheader" style="width: auto;"><label>Kuvaus<font color="#ec3e3e">*</font></label></td>
<td class="zc-inputheader" style="width: auto;"><input class="zc-inputtext" id="Kuvaus" name="Kuvaus" value="" type="text" mandatory="true">
<p id="Kuvaus_Error"></p></td>
</tr>
<tr>
<td class="zc-labelheader" style="width: auto;"><label>Ikä<font color="#ec3e3e">*</font></label></td>
<td class="zc-inputheader" style="width: auto;"><input class="zc-inputtext" id="Age" name="Age" value="" type="int" mandatory="true">
<p id="Age_Error"></p></td>
</tr>

<tr>
<td class="zc-button-row" style="border:medium none;"/>
<td class="zc-button-row" style="border:medium none; text-align:left;" >
<input type="button" class="zc-formbutton"value="Lähetä" onClick="validateaddilmoitus()">
<input class="zc-formbutton" type="reset" value="Tyhjennä"/>
</td>
</tr>
</tbody>
</table>
</form>
<!--</div>
</div>!-->
{% endblock %}
