{% extends "index.html" %}
{% block content %}

<h2> Usein kysytyt kysymykset </h2>

<div class="zc-formheader">
<ol>
<li><div class="question">Pitäisikö minun muka lähteä treffeille tietämättä mitään toisesta osapuolesta? Tämähän on ihan hullua!</div>
<div class="answer">Tavanomaisilla deittisivustoilla käytetyt profiilit johtavat yleensä harhaan. Joko ne on kirjoitettu nopeasti ja hätiköiden tai sitten tarkasti suunniteltu keräämään mahdollisimman paljon kiinnostuneita. Kummassakin tapauksessa niiden antama kuva on luultavasti väärä. Kasvotusten keskustelemalla tutustut ihmiseen kunnolla ja voit löytää mielenkiintoisia tuttavuuksia.</div></li>
<br />

<li><div class="question">Miksen voi kirjoittaa itsestäni kunnollista kuvausta? Eihän noin pieneen tilaan mahdu edes lempihahmoni Täydellisistä naisista!</div>
<div class="answer">Kuvaus-kohtaan on tarkoitus kirjoittaa ainoastaan tuntomerkkisi, joilla sinut tunnistaa tapaamispaikassa. Lempikaramellisi ehdit kertoa sitten kasvotusten. </div></li>
<br/>

<li><div class="question">Tämähän vaikuttaa hirmuisen vaaralliselta. Miten varmistan, ettei treffikumppanini ole esimerkiksi HIFK-fani?</div>
<div class="answer">Tuntemattomien ihmisten tapaaminen saattaa sisältää riskejä. Välttyäksesi epämukavilta yllätyksiltä noudata seuraavia ohjeita: 
<ol>
<li>Sovi tapaamiset ainoastaan julkiselle paikalle, esimerkiksi kahvilaan tai ravintolaan. </li>
<li>Kerro ystävillesi minne ja milloin olet menossa sekä koska oletat palaavasi. </li>
<li>Jos tunnet olosi epämukavaksi, poistu paikalta.</li>
</ol>
</div></li>
<br/>

<li><div class="question">Menin treffeille ja toinen osapuoli oli täysi idiootti! Mitä teen?</div>
<div class="answer">Tämänkin palvelun käyttäjiin mahtuu monenlaisia ihmisiä, niin hyvässä kuin pahassa. Kerro huonoista kokemuksistasi <a href="palaute">palautesivun</a> kautta, niin ryhdymme tarvittaviin toimiin. Voimme esimerkiksi poistaa huonosti käyttäytyneen henkilön ilmoitukset sekä estää häntä käyttämästä palvelua tulevaisuudessa.</div></li>
<br />

<li><div class="question">Mitä tietoja keräätte minusta?</div>
<div class="answer">Tällä hetkellä Dateventures kerää ainoastaan treffi-ilmoituksissa kerrotut tiedot, sekä ilmoittajien ja vastaajien Google-tunnukset. Tunnuksia käytetään henkilöiden yksilöimiseen palvelussa, emmekä saa niiden kautta esimerkiksi käyttäjien nimiä selville.</div></li>
<br />

<li><div class="question">Miksi paikkakuntaa ei voi vaihtaa? Olenko tuomittu deittailemaan ainoastaan Turussa?</div>
<div class="answer">Dateventures on vasta testivaiheessa ja olemme rajanneet deitit Turkuun palvelun profiloimisen ja analysoinnin helpottamiseksi. Vaan olkaa huoleti, Dateventures avataan kyllä koko maailmalle mahdollisimman pian!</div></li>


{% endblock %}
